# /etc/nginx/modsecurity.d/modsecurity_custom.conf

# 오탐 예외 / 커스텀 룰은 여기서만 관리

# 예) 헬스체크 제외
# SecRule REQUEST_URI "@beginsWith /health" "id:100010,phase:1,pass,nolog,ctl:ruleEngine=Off"

{% if waf_demo_block_enable | bool %}
Include "{{ modsec_demo_rules }}"
{% endif %}

